.bin/flat9
.bin/black
.bin/blackd
.bin/flake8
.bin/gam
.bin/isort
.bin/isort-identify-imports
.bin/proselint
.bin/pycodestyle
.bin/pyflakes
.bin/mysql
.bin/mysqlsh
.bin/mysqldump
.bin/tor
tags
tags.lock
tags.temp
.bin/nvim
.bin/ytfzf
.mypy_cache
.bin/exercism
.bin/stash
.bin/start-tor-browser
.bin/tctl
.bin/tsh
.bin/mysql.binary
.bin/beekeeper-studio
.bin/fennel-ls
