.bin/flat9
.bin/black
.bin/blackd
.bin/flake8
.bin/gam
.bin/isort
.bin/isort-identify-imports
.bin/proselint
.bin/pycodestyle
.bin/pyflakes
tags
tags.lock
tags.temp
.bin/nvim
.bin/ytfzf
.mypy_cache
.bin/exercism
