Xcursor.size: 32
Xcursor.theme: Bibata-Modern-Classic
Xft.dpi: 192
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

*background:  #161616
*cursorColor:  #dde1e6
*foreground:  #dde1e6
*color0:  #262626
*color1:  #ee5296
*color2:  #42be65
*color3:  #82cfff
*color4:  #33b1ff
*color5:  #ff7eb6
*color6:  #08bdba
*color7:  #f2f4f8
*color8:  #525252
*color9:  #ee5296
*color10:  #42be65
*color11:  #ffab91
*color12:  #33b1ff
*color13:  #ff7eb6
*color14:  #08bdba
*color15:  #ffffff
