Xcursor.size: 16
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
*background:  #181819
*foreground:  #b2b2b2
*color0:  #373c40
*color1:  #D1616B
*color2:  #79813E
*color3:  #B0A280
*color4:  #617E9C
*color5:  #984673
*color6:  #6CCEB8
*color7:  #CAD4C8
*color8:  #7c8f8f
*color9:  #C33552
*color10:  #8DA54E
*color11:  #E8F198
*color12:  #367CA8
*color13:  #D19FA5
*color14:  #36c692
*color15:  #D0BCBB
