Xcursor.size: 16
Xcursor.theme: Bibata-Modern-Classic
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
*background:  #191c25
*foreground:  #c5c4d4
*color0:  #525566
*color1:  #d59076
*color2:  #83aa74
*color3:  #b8a161
*color4:  #889bb4
*color5:  #a994b8
*color6:  #77adb1
*color7:  #bfbed0
*color8:  #666b7f
*color9:  #fead90
*color10:  #9dca8c
*color11:  #dbc380
*color12:  #afc5de
*color13:  #cdb6dd
*color14:  #94cdd1
*color15:  #f0ecfe
